body, h1, h2, h3, p{
    margin: 0;
    padding: 0;
  }
  /* nav {
    width: 25vw;
    height: 100vh;
  } */
  /* #navbar{
    margin: 0 auto;
    border: thin 2px;
    width: 50%;
    text-align: center;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  } */
  *{
    background-image: url('https://wallpapertag.com/wallpaper/full/a/1/8/116102-popular-dark-grey-background-1920x1200-for-tablet.jpg');
  }
  /* h1{
    width: 200px; */
  /* } */
  header{
    text-align: center;
  }
  .card-container{
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    border: 1px solid #f1f1f1;
    justify-content: space-between;
  }

.card {
  width: 250px;
  border: 1px solid violet;
  border-radius: 15px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 250px;
  padding: 5px;
  background-color: rgb(70, 57, 70);
  transition: transform .7s;
  /* Animation */
  perspective: 220px;
  cursor: pointer;
  /* background-color: #e5e5f7;
  opacity: 1;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 4px ), repeating-linear-gradient( #5f226e55, #5f226e ); */
}

.card-inner {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 10px;
  /* background-color: #e5e5f7;
  opacity: 1;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 4px ), repeating-linear-gradient( #5f226e55, #5f226e ); */
}

.card-inner p {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
  /* background-color: #2f0036;
opacity: 0.8;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #2f0036 4px ), repeating-linear-gradient( #00000055, #000000 ); */
}

.card-inner img {
  width: 230px;
  height: 160px;
  border-radius: 5px;
  /* background-color: #2f0036;
  opacity: 0.8;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #2f0036 4px ), repeating-linear-gradient( #00000055, #000000 ); */
  }
  .card-inner h2{
    display: flex;
    /* background-color: #2f0036;
opacity: 0.8;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #2f0036 4px ), repeating-linear-gradient( #00000055, #000000 ); */
  }
  /* ---------------enzo---testing---section------------------ */
  .card:hover {
    box-shadow: 5px 5px 10px 5px rgba(112, 179, 218, 0.87);
    transform: scale(1.07); 
  }
/* Position the front and back side */
.card.flipped {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid violet;
  perspective: 220px; /* Remove this if you don't want the 3D effect */
}
.card-back {
  background-color: rgb(255, 0, 255);
  color: rgb(255, 255, 255);
  transform: rotateY(180deg);
  position: absolute;
  height: 250px;
  z-index: 100;
  /* background-color: #2f0036;
opacity: 0.8;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #2f0036 4px ), repeating-linear-gradient( #00000055, #000000 ); */
}

.card-front,.card-back {
  position: absolute;
  width: 240px;
  /* height: 330px; */
  backface-visibility: hidden;
  border-radius: 15px;
  height: auto;
  /* background-color: #2f0036;
opacity: 0.8;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #2f0036 4px ), repeating-linear-gradient( #00000055, #000000 ); */
} 

.card-front h2{
  width: 240px;
  height: 50;
  background-color: transparent;
  flex-wrap: wrap;
}

.card.flipped {
  border-color: violet;
  width: 250px;
  height: 290px;
  background-color: rgb(250, 0, 0);
  transform: rotateY(180deg);
  perspective: 220px;
  transform-style: preserve-3d;
  
}

.card-inner {
  width: 165px;
  height: fit-content;
  transform-style: preserve-3d;
  transition: transform .7s;
  z-index: 100;

}

.home-game-container{
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  /* border: 1px solid transparent; */
  justify-content: space-between;
  width: 600px;
  height: 1000px;
}
.home-game-card{
  width: 600px;
  height: 150px;
  border: 1px solid violet;
  border-radius: 15px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: rgb(255, 0, 0);
  transition: transform .7s; /* Animation */
  perspective: 220px;
  cursor: pointer;
} 
.home-game-card:hover{
  box-shadow: 5px 5px 10px 5px rgba(71, 47, 82, 0.87);
  transform: scale(1.07);
}
.home-game-info{
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  margin-right: 5px;
  margin-left: 5px;
}
.home-game-info p {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
  height: 50px;
}
.home-game-info img{
width:200px;
height:130px;
border-radius: 5px;
}
.home-game-info h1{
  display: flex;
  height: 50px;
  width: 250px;
  align-self: top;
  padding-left: 30px;
}
.home-game-info h3{
  align-content: center;
  padding-top: 50px;
}
.home-game-info h4{
  display: flex;
  height: 50px;
  width: 70px;
  align-self: center;
  padding-right: 100px;
  text-orientation: mixed;
}
.home-game-info h6{
  /* display: flex; */
  height: 10px;
  width: 12px;
  align-self: bottom;
  /* padding-right: 100px;
  text-orientation: mixed; */
}
#login-container{
  width: 75px;
  height: 140px;
}

.login-button{
  border: solid thin;
  background-color: grey;
  height: 50px;
  width: 80px;
}
.login-button:hover{
  background-color: rgb(210, 216, 215);
}


#login-container{
  width: 80px;
  position: absolute;
  top: 70px;
  right: 1px;
}

.navbar {
  height: 200px;
  width: 75px;
  position: fixed;
  z-index: 1;
  /* Stay on top */
  margin-top: 25px;
  padding-top: 5px;
  top: 10px;
  left: 10px;
  background-color: #68001a;
  overflow-x: hidden;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
}

.link {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 15px;
  color: #802020;
  display: block;
  transition: 0.3s;
}

#navbutton {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  
}
.navButton:hover{
  transition: 0.3s;
  border-radius: 5px;
  box-shadow: 0 0 5px #cc03f4,
            0 0 15px #cc03f4,
            0 0 20px #0363f4,
            0 0 50px #03e9f4;

}

.login-butt {
  border: solid thin;
  background-color: grey;
  height: 50px;
  width: 80px;
}

.login-butt:hover {
  background-color: rgb(231, 213, 213);
  background-image: none;
  color: rgb(11, 52, 13);
  cursor: pointer;
  height: 55px;
  margin-right: 30px;
  transition: 0.3s;
  border-radius: 5px;
  box-shadow: 0 0 5px #cc03f4,
            0 0 15px #cc03f4,
            0 0 20px #0363f4,
            0 0 50px #03e9f4;
}
#register {
  cursor: pointer;
}

#regform{
  background-image: none;
  background-color: rgb(32, 120, 32);
  color: white;
  border: solid 6px orange;
  border-radius: 5%;
  box-shadow: 0 0 0 2px black; 
}

#register {
  width: 130px;
  position: flex;
  top: 100px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}
.reginput {
  background-image: none;
  background-color: rgb(202, 154, 95);
  margin-top: 5px;
  color: black;
}
.reginput::placeholder {
  color: rgba(63, 59, 59, 0.685);
  font-style: italic;
}

#showPasswrd {
  width: 130px;
  position: flex;
  top: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.loginform {
  background-image: none;
  background-image: url("/public/images/Login bkgrnd.png");
  background-size: cover;
  border: solid 4px orange;
  border-radius: 5%;
  padding: 100px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 3px black; 
}

.centered-content {
  background-image: none;
  display: flex;
  flex-direction: column; /* or row, depending on your layout */
  align-items: center;
  justify-content: center;
  text-align: center; /* For text centering within input elements */
}
.login{
  background-image: none;
  background-color: orange;
  border: solid 2px black;
  border-radius: 15%;
}
#trylogin{
  background-image: url('../Images/8049d30790b3ff0b9e8134fcfe00728e - Copy - Copy.png');
  background-size: cover;
  display: flex;
  width: 300px;
}
#navarea{
  width: 100px;
}
#cartbutt{
  width: 80px;
}
.searcher {
  align-content: center;
  /* padding-left:px; */
}
/* color: #fff;
border-radius: 5px;
box-shadow: 0 0 5px #03e9f4,
            0 0 25px #03e9f4,
            0 0 50px #03e9f4,
            0 0 100px #03e9f4;
} */
