body, h1, h2, h3, p{
    margin: 0;
    padding: 0;
  }
  /* nav {
    width: 25vw;
    height: 100vh;
  } */
  /* #navbar{
    margin: 0 auto;
    border: thin 2px;
    width: 50%;
    text-align: center;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  } */
  *{
    background-image: url('https://wallpapertag.com/wallpaper/full/a/1/8/116102-popular-dark-grey-background-1920x1200-for-tablet.jpg');
  }
  header{
    text-align: center;
  }
  .card-container{
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    border: 1px solid #f1f1f1;
    justify-content: space-between;
  }

  .card{
    width: 170px;
    border: 1px solid violet;
    border-radius: 15px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 350px;
    padding: 5px;
    background-color: rgb(70, 57, 70);
    transition: transform .7s; /* Animation */
    perspective: 220px;
    cursor: pointer;
  } 
  .card-inner{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
  }
  .card-inner p {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
  }
  .card-inner img{
  width:150px;
  height:120px;
  border-radius: 5px;
  }
  /* ---------------enzo---testing---section------------------ */
  .card:hover {
    box-shadow: 5px 5px 10px 5px rgba(161, 134, 204, 0.733);
    transform: scale(1.07); 
  }
/* Position the front and back side */
.card.flipped{
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 220px; /* Remove this if you don't want the 3D effect */
}
.card-front, .card-back {
  position: absolute;
  width: 155px;
  height: 330px;
  backface-visibility: hidden;
  border-radius: 15px;
} 

.card.flipped{
  border-color: violet;
  width: 170px;
  height: 350px;
  background-color: rgb(70, 57, 70);
  transform: rotateY(180deg);
  perspective: 220px;
  transform-style: preserve-3d;
}

.card-inner{
  width: 165px;
  height: 330px;
  transform-style: preserve-3d;
  transition: transform .7s;
  /* transform: rotateY(180deg); */
}

/* Style the back side */
/* .card-inner{
  transform: rotateY(180deg);
} */
.card-back {
  background-color: rgb(70, 57, 70);
  color: white;
  transform: rotateY(180deg);
  position: absolute;
}








  /* #container-1{
    border: solid blue;
    height: 500px;
    width: 200px
  }

  #container-2{
    border: dashed green;
    height: 500px;
    width: 200px
  }

  #container-3{
    border: double red 20px;
    height: 200px;
    width: 50%;
    display: flex;
    flex-wrap: wrap-reverse;
  }

  #container-4{
    border: dotted yellow;
    height: 500px;
    width: 200px
  } */
  
  .login-button{
    border: solid thin;
    background-color: grey;
    height: 50px;
    width: 80px;
  }
  .login-button:hover{
    background-color: rgb(216, 210, 210);
  }

  #login-container{
    width: 125px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .navbar {
    height: 200px;
    width: 75px;
    position: fixed;
    z-index: 1;
    /* Stay on top */
    margin-top: 25px;
    padding-top: 5px;
    top: 10px;
    left: 10px;
    background-color: #68001a;
    overflow-x: hidden;
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidebar */
}

.link {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.navbutton {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

#showPasswrd{
  font-size: 12px;
  cursor: pointer;
}

#register{
  cursor: pointer;
}
